body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #32e3f3;
    color: white;
}
.Home {
    background-color: #32e3f3;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.header {
    background-color: #32e3f3;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.Hero-section {
    background-color: #32e3f3;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}